<a
	href="{{ path('cogitoweb_database_backup_exec') }}"
	class="btn btn-success"
	title="{{ 'exec.exec_button' | trans({}, 'CogitowebDatabaseBackupBundle') }}"
>
	<i class="glyphicon glyphicon-save"></i> {{ 'exec.exec_button' | trans({}, 'CogitowebDatabaseBackupBundle') }}
</a>