<a
	href="{{ path('cogitoweb_database_backup_list') }}"
	class="btn"
	title="{{ 'list.list_button' | trans({}, 'CogitowebDatabaseBackupBundle') }}"
	target="_blank"
>
	<i class="glyphicon glyphicon-list"></i> {{ 'list.list_button' | trans({}, 'CogitowebDatabaseBackupBundle') }}
</a>